# ✨✨가공 필요: R에서 진행하기✨✨
- 불쾌지수
- 바람냉각지수
- 보퍼트 풍력 지수
- 체감온도
- 일교차

불쾌지수 공식
- 0.81 * 섭씨온도 +0.01 * 상대습도(%)（0.99 * 섭씨온도 - 14.3）+ 46.3

바람냉각지수 공식
- 측정 공식은 WCI=｛√(100v)-v+10.5｝x(33-Ta)이다. 여기서 v는 풍속(ms-1), Ta는 기온(℃)

보퍼트 풍력지수
- m/s 기준
```
{ 0 : 0.2,
  1 : 0.15,
  2 : 3.3,
  3 : 5.4,
  4 : 7.9,
  5 : 10.7,
  6 : 13.8,
  7 : 17.1,
  8 : 20.7,
  9 : 24.4,
  10 : 28.4,
  11 : 32.6,
  12 : '-'
}
```
체감온도 공식
- 13.12+0.6215×T-11.37V0.16+0.3965V0.16×T입니다. 여기서 T는 기온, V는 지상 10m의 풍속

## daily

In [1]:
import pandas as pd
date = '2021-01-01'
df1 = pd.read_csv('daily/'+date+'.csv')
df1

,Time,Temperature,Relative Temperature,Wind,Wind Gust,Rel. humidity,Dew Point,Pressure,Icon,DescriptionDetails
0,00:00,-8°C,-11°C,350°6 Km/h,NaN,62%,-14°C,1027.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
1,01:00,-9°C,-9°C,320°4 Km/h,NaN,67%,-14°C,1027.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
2,02:00,-11°C,-11°C,300°4 Km/h,NaN,79%,-14°C,1027.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
3,03:00,-11°C,-11°C,190°2 Km/h,NaN,85%,-13°C,1028.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
4,04:00,-12°C,-16°C,140°6 Km/h,NaN,79%,-15°C,1027.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
5,05:00,-12°C,-12°C,230°2 Km/h,NaN,79%,-15°C,1026.0mb,NaN,"document.write(Icons.GetShortDescription(2, 'C..."
6,06:00,-10°C,-10°C,200°2 Km/h,NaN,79%,-13°C,1026.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
7,07:00,-10°C,-14°C,160°7 Km/h,NaN,79%,-13°C,1026.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
8,08:00,-10°C,-13°C,150°6 Km/h,NaN,73%,-14°C,1026.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
9,09:00,-6°C,-10°C,140°9 Km/h,NaN,63%,-12°C,1027.0mb,NaN,"document.write(Icons.GetShortDescription(2, 'C..."
10,10:00,-4°C,-7°C,170°7 Km/h,NaN,54%,-12°C,1027.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
11,11:00,-2°C,-5°C,150°7 Km/h,NaN,47%,-12°C,1026.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
12,12:00,-1°C,-3°C,210°6 Km/h,NaN,51%,-10°C,1025.0mb,NaN,"document.write(Icons.GetShortDescription(3, 'C..."
13,13:00,1°C,-1°C,210°7 Km/h,NaN,48%,-9°C,1025.0mb,NaN,"document.write(Icons.GetShortDescription(2, 'C..."
14,14:00,1°C,-1°C,360°6 Km/h,NaN,48%,-9°C,1024.0mb,NaN,"document.write(Icons.GetShortDescription(2, 'C..."
15,15:00,1°C,-3°C,300°13 Km/h,NaN,51%,-8°C,1024.0mb,NaN,"document.write(Icons.GetShortDescription(3, 'C..."
16,16:00,0°C,-3°C,290°9 Km/h,NaN,60%,-7°C,1024.0mb,NaN,"document.write(Icons.GetShortDescription(2, 'C..."
17,17:00,-1°C,-3°C,270°6 Km/h,NaN,64%,-7°C,1024.0mb,NaN,"document.write(Icons.GetShortDescription(2, 'C..."
18,18:00,-1°C,-1°C,300°2 Km/h,NaN,69%,-6°C,1024.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
19,19:00,-2°C,-4°C,320°6 Km/h,NaN,74%,-6°C,1024.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C..."
20,20:00,-3°C,-5°C,290°6 Km/h,NaN,80%,-6°C,1025.0mb,NaN,"document.write(Icons.GetShortDescription(3, 'C..."
21,21:00,-2°C,-5°C,280°9 Km/h,NaN,64%,-8°C,1025.0mb,NaN,"document.write(Icons.GetShortDescription(3, 'C..."
22,22:00,-3°C,-6°C,300°7 Km/h,NaN,69%,-8°C,1025.0mb,NaN,"document.write(Icons.GetShortDescription(3, 'C..."
23,23:00,-5°C,-9°C,330°9 Km/h,NaN,63%,-11°C,1026.0mb,NaN,"document.write(Icons.GetShortDescription(2, 'C..."

In [7]:
df1.columns

Index(['Time', 'Temperature', 'Relative Temperature', 'Wind', 'Wind Gust',
       'Rel. humidity', 'Dew Point', 'Pressure', 'Icon', 'DescriptionDetails'],
      dtype='object')

In [2]:
df1['Year'] = int(date.split('-')[0])
df1['month'] = int(date.split('-')[1])
df1['day'] = int(date.split('-')[2])

df1['Temperature'] = df1['Temperature'].apply(lambda x : int(x.split('°C')[0]))
df1['Relative Temperature'] = df1['Relative Temperature'].apply(lambda x : int(x.split('°C')[0]))
df1['Wind'] = df1['Wind'].apply(lambda x : int(x.split('Km/h')[0].split('°')[1]))
df1['Rel. humidity'] = df1['Rel. humidity'].apply(lambda x : int(x.split('%')[0])/100)
df1['Dew Point'] = df1['Dew Point'].apply(lambda x : int(x.split('°C')[0]))
df1['Pressure'] = df1['Pressure'].apply(lambda x : float(x.split('mb')[0]))

interested = ['Year', 'month', 'day', 'Temperature', 'Relative Temperature', 'Wind', 'Rel. humidity', 'Dew Point', 'Pressure']
df1[interested]

,Year,month,day,Temperature,Relative Temperature,Wind,Rel. humidity,Dew Point,Pressure
0,2021,1,1,-8,-11,6,0.62,-14,1027.0
1,2021,1,1,-9,-9,4,0.67,-14,1027.0
2,2021,1,1,-11,-11,4,0.79,-14,1027.0
3,2021,1,1,-11,-11,2,0.85,-13,1028.0
4,2021,1,1,-12,-16,6,0.79,-15,1027.0
5,2021,1,1,-12,-12,2,0.79,-15,1026.0
6,2021,1,1,-10,-10,2,0.79,-13,1026.0
7,2021,1,1,-10,-14,7,0.79,-13,1026.0
8,2021,1,1,-10,-13,6,0.73,-14,1026.0
9,2021,1,1,-6,-10,9,0.63,-12,1027.0
10,2021,1,1,-4,-7,7,0.54,-12,1027.0
11,2021,1,1,-2,-5,7,0.47,-12,1026.0
12,2021,1,1,-1,-3,6,0.51,-10,1025.0
13,2021,1,1,1,-1,7,0.48,-9,1025.0
14,2021,1,1,1,-1,6,0.48,-9,1024.0
15,2021,1,1,1,-3,13,0.51,-8,1024.0
16,2021,1,1,0,-3,9,0.60,-7,1024.0
17,2021,1,1,-1,-3,6,0.64,-7,1024.0
18,2021,1,1,-1,-1,2,0.69,-6,1024.0
19,2021,1,1,-2,-4,6,0.74,-6,1024.0
20,2021,1,1,-3,-5,6,0.80,-6,1025.0
21,2021,1,1,-2,-5,9,0.64,-8,1025.0
22,2021,1,1,-3,-6,7,0.69,-8,1025.0
23,2021,1,1,-5,-9,9,0.63,-11,1026.0

In [29]:
import datetime
print(datetime.date(2015, 12, 20) - datetime.date(2012, 1, 1))
print(datetime.date(2022, 4, 30) - datetime.date(2015, 12, 26))

1449 days, 0:00:00
2317 days, 0:00:00

In [3]:
import pandas as pd
import datetime

date_time = datetime.date(2012, 1, 1)

weather_list = []

for i in range(1449):
    date = str(date_time + datetime.timedelta(days=i))
    df = pd.read_csv('daily/'+date+'.csv')

    df['Year'] = int(date.split('-')[0])
    df['month'] = int(date.split('-')[1])
    df['day'] = int(date.split('-')[2])

    df['Temperature'] = df['Temperature'].apply(lambda x : int(x.split('°C')[0]))
    df['Relative Temperature'] = df['Relative Temperature'].apply(lambda x : int(x.split('°C')[0]))
    df['Rel. humidity'] = df['Rel. humidity'].apply(lambda x : int(x.split('%')[0])/100)
    df['Dew Point'] = df['Dew Point'].apply(lambda x : int(x.split('°C')[0]))
    df['Pressure'] = df['Pressure'].apply(lambda x : float(x.split('mb')[0]))

    interested = ['Year', 'month', 'day', 'Temperature', 'Relative Temperature', 'Wind', 'Rel. humidity', 'Dew Point', 'Pressure']
    weather_list.append(df[interested])

date_time2 = datetime.date(2015, 12, 27)

for i in range(2317):
    date = str(date_time2 + datetime.timedelta(days=i))
    df = pd.read_csv('daily/'+date+'.csv')

    df['Year'] = int(date.split('-')[0])
    df['month'] = int(date.split('-')[1])
    df['day'] = int(date.split('-')[2])

    df['Temperature'] = df['Temperature'].apply(lambda x : int(x.split('°C')[0]))
    df['Relative Temperature'] = df['Relative Temperature'].apply(lambda x : int(x.split('°C')[0]))
    df['Rel. humidity'] = df['Rel. humidity'].apply(lambda x : int(x.split('%')[0])/100)
    df['Dew Point'] = df['Dew Point'].apply(lambda x : int(x.split('°C')[0]))
    df['Pressure'] = df['Pressure'].apply(lambda x : float(x.split('mb')[0]))

    interested = ['Year', 'month', 'day', 'Temperature', 'Relative Temperature', 'Wind', 'Rel. humidity', 'Dew Point', 'Pressure']
    weather_list.append(df[interested])

daily_weather = pd.concat(weather_list)

In [4]:
daily_weather

,Year,month,day,Temperature,Relative Temperature,Wind,Rel. humidity,Dew Point,Pressure
0,2012,1,1,-1,-3,170°6 Km/h,0.64,-7,1025.0
1,2012,1,1,-1,-3,340°6 Km/h,0.69,-6,1025.0
2,2012,1,1,-3,-7,350°9 Km/h,0.74,-7,1024.0
3,2012,1,1,-3,-3,330°4 Km/h,0.74,-7,1024.0
4,2012,1,1,-4,-6,320°6 Km/h,0.80,-7,1024.0
...,...,...,...,...,...,...,...,...,...
19,2022,4,30,12,12,260°13 Km/h,0.77,8,1015.0
20,2022,4,30,11,11,270°17 Km/h,0.82,8,1015.0
21,2022,4,30,11,11,260°11 Km/h,0.82,8,1016.0
22,2022,4,30,11,11,260°11 Km/h,0.82,8,1017.0
23,2022,4,30,11,11,280°9 Km/h,0.77,7,1017.0

### daily에서 사용할 척도
#### Raw
- 온도
- 상대온도
- 습도
- 바람세기 : 'wind column'은 사후 modify
- 이슬점
- 기압

In [5]:
daily_weather['Wind'] = daily_weather['Wind'].apply(lambda x : x.split('Km/h')[0])
daily_weather

,Year,month,day,Temperature,Relative Temperature,Wind,Rel. humidity,Dew Point,Pressure
0,2012,1,1,-1,-3,170°6,0.64,-7,1025.0
1,2012,1,1,-1,-3,340°6,0.69,-6,1025.0
2,2012,1,1,-3,-7,350°9,0.74,-7,1024.0
3,2012,1,1,-3,-3,330°4,0.74,-7,1024.0
4,2012,1,1,-4,-6,320°6,0.80,-7,1024.0
...,...,...,...,...,...,...,...,...,...
19,2022,4,30,12,12,260°13,0.77,8,1015.0
20,2022,4,30,11,11,270°17,0.82,8,1015.0
21,2022,4,30,11,11,260°11,0.82,8,1016.0
22,2022,4,30,11,11,260°11,0.82,8,1017.0
23,2022,4,30,11,11,280°9,0.77,7,1017.0

In [6]:
daily_weather.loc[daily_weather['Wind'].apply(lambda x : '°' not in x), 'Wind'].value_counts()

Calm    675
Name: Wind, dtype: int64

In [7]:
daily_weather.loc[daily_weather['Wind']=='Calm', 'Wind'] = '0°0'

In [8]:
daily_weather['Wind'] = daily_weather['Wind'].apply(lambda x : int(x.split('°')[1]))

In [9]:
daily_weather

,Year,month,day,Temperature,Relative Temperature,Wind,Rel. humidity,Dew Point,Pressure
0,2012,1,1,-1,-3,6,0.64,-7,1025.0
1,2012,1,1,-1,-3,6,0.69,-6,1025.0
2,2012,1,1,-3,-7,9,0.74,-7,1024.0
3,2012,1,1,-3,-3,4,0.74,-7,1024.0
4,2012,1,1,-4,-6,6,0.80,-7,1024.0
...,...,...,...,...,...,...,...,...,...
19,2022,4,30,12,12,13,0.77,8,1015.0
20,2022,4,30,11,11,17,0.82,8,1015.0
21,2022,4,30,11,11,11,0.82,8,1016.0
22,2022,4,30,11,11,11,0.82,8,1017.0
23,2022,4,30,11,11,9,0.77,7,1017.0

In [10]:
daily_weather.to_csv('daily_save1.csv', index=False)

#### 가공 필요 : R에서 하기
- 불쾌지수
- 바람냉각지수
- 보퍼트 풍력 지수
- 체감온도

In [11]:
daily_weather = pd.read_csv('daily_save1.csv')
daily_weather

,Year,month,day,Temperature,Relative Temperature,Wind,Rel. humidity,Dew Point,Pressure
0,2012,1,1,-1,-3,6,0.64,-7,1025.0
1,2012,1,1,-1,-3,6,0.69,-6,1025.0
2,2012,1,1,-3,-7,9,0.74,-7,1024.0
3,2012,1,1,-3,-3,4,0.74,-7,1024.0
4,2012,1,1,-4,-6,6,0.80,-7,1024.0
...,...,...,...,...,...,...,...,...,...
86346,2022,4,30,12,12,13,0.77,8,1015.0
86347,2022,4,30,11,11,17,0.82,8,1015.0
86348,2022,4,30,11,11,11,0.82,8,1016.0
86349,2022,4,30,11,11,11,0.82,8,1017.0
86350,2022,4,30,11,11,9,0.77,7,1017.0

### monthly에서 사용할 척도
#### Raw
- 최고 기온
- 최저 기온
- 날씨 상태(factor, Description)

#### 가공 필요: R에서 진행하기
- 불쾌지수
- 바람냉각지수
- 보퍼트 풍력 지수
- 체감온도
- 일교차

In [12]:
import pandas as pd

Year_range = range(2012, 2023)
month_range = range(1, 13)


monthly_list = list()

for Year in Year_range:
    for month in month_range:
        if Year == 2022 and month == 5:
            break

        date = str(Year) + '_' + str(month)

        df2 = pd.read_csv('monthly/'+date+'.csv')
        df2['Year'] = df2['Date'].apply(lambda x : x.split('/')[2])
        df2['month'] = df2['Date'].apply(lambda x : x.split('/')[0])
        df2['day'] = df2['Date'].apply(lambda x : x.split('/')[1])
        df2['Description'] = df2['Description'].apply(lambda x : '-' if x=='weather events not reported' else x)

        interested = ['Year', 'month', 'day', 'Daily minimum temperature', 'Daily maximum temperature', 'Description']
        monthly_list.append(df2[interested])

monthly_weather = pd.concat(monthly_list)
monthly_weather

,Year,month,day,Daily minimum temperature,Daily maximum temperature,Description
0,2012,1,1,-11°C,0°C,-
1,2012,1,2,-9°C,-1°C,-
2,2012,1,3,-10°C,1°C,Snowfall
3,2012,1,4,-12°C,-3°C,-
4,2012,1,5,-9°C,-1°C,-
...,...,...,...,...,...,...
25,2022,4,26,11°C,29°C,-
26,2022,4,27,9°C,23°C,-
27,2022,4,28,11°C,25°C,Rain
28,2022,4,29,11°C,16°C,Rain
29,2022,4,30,5°C,18°C,-

In [13]:
monthly_weather[monthly_weather['Year']=='2016']

,Year,month,day,Daily minimum temperature,Daily maximum temperature,Description
0,2016,1,1,-2°C,5°C,-
1,2016,1,2,2°C,11°C,-
2,2016,1,3,1°C,9°C,-
3,2016,1,4,-4°C,5°C,-
4,2016,1,5,-6°C,1°C,-
...,...,...,...,...,...,...
17,2016,10,18,12°C,23°C,-
18,2016,10,19,11°C,23°C,-
19,2016,10,20,13°C,22°C,-
20,2016,10,21,15°C,21°C,-
21,2016,10,22,15°C,21°C,-

In [14]:
monthly_weather.to_csv('monthly_save1.csv', index=False)

## monthly 결측치
- 2016 11월
- 2017 ~ 2019년 통으로 결측

# 잔업: 주단위로 묶기

## Daily

## monthy